* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(97, 6, 6, 0.7), rgba(4, 37, 72, 0.7)), url(img/3597712.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content img { 
    width: 320px;
    height: 320px;
    border-radius: 80%;
    border: 5px solid rgb(43, 42, 42);
    position: absolute;
    left: 1000px;
    bottom: -100px;
}

.button-to-top img {
    background-color: #c6c3c3;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ffc506;
    transition: .4s ease-in-out;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 38, 0);
    text-decoration-style: solid;
}

.logo {
    color: #fafafa;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: #ffc506;
}

.logo:hover {
    color: #ff0000;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.content h2 {
    color: white;
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 5px;
    animation: typing 3s steps(30) infinite alternate,
    blink .8s infinite;
}
@keyframes typing {
    0% {
        width: 0%;
        visibility: hidden;
    }
    100% {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: black;
    }
}

h1 {
    color: #fafafa;
    font-size: 60px;
    margin: 10px 0px 10px;
}
h2 {
    color: #ffff;
    font-size: 30px;
}
h3 {
    color: #fafafa;
    font-size: 25px;
    margin-bottom: 50px;
}
h4 {
    color: #ffc506;
    letter-spacing: 2px;
    font-size: 20px;
}

@media screen and (max-widht:1000px) {
    
}




/* ABOUT 1 */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}

.img-aku {
    border-radius: 10px;;
    box-shadow: 0 10px 200px 5px rgb(255, 255, 255);
}

.about-text {
    width: 550px;
}

.about-text h2 {
    color: #fafafa;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text h5 {
    color: #ffff;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #ebb7b7;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about-text li {
    color: #ebb7b7;
    letter-spacing: .7px;
    line-height: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ABOUT 2 */

.button-5 {
    background-color: #ff7206;
    color: #302f2f;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    position: relative;
    right: -100px;
}
.button-5:hover {
    background-color: transparent;
    color: #ffff;
    border: 2px solid #ffc506;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}

.img-pres {
    height: 35px;
    width: 35px;
    padding: 20px 35px;
    margin: 15px;
    position: relative;
    text-align: center;
}

.about2 {
    width: 100%;
    padding: 100px 0px;
    background-color: #202020;
}
.about-text2 {
    width: 550px;
}

.about-text2 h2 {
    color: #fafafa;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text2 h5 {
    color: #ffff;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text2 p {
    color: #ebb7b7;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.about-text2 li {
    color: #ebb7b7;
    letter-spacing: .7px;
    line-height: 10px;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.main2 {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* INI AKHIR */

.skills {
    background: #101010;
    width: 100%;
    padding: 100px 0;
}

.title h2 {
    color: #ffff;
    font-size: 75px;
    width: 1130px;
    text-align: center;
    margin: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card1 {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}
.card2 {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}
.card3 {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}

.card1 i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #ffc506;
}
.card2 i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #ff6606;
}
.card3 i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #066eff;
}

.card1 .button {
    background-color: #ffc506;
    color: #ffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.card1 .button:hover {
    background-color: transparent;
    border: 2px solid #ffc506;
    cursor: pointer;
}
.card2 .button {
    background-color: #ff6606;
    color: #ffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.card2 .button:hover {
    background-color: transparent;
    border: 2px solid #ff6606;
    cursor: pointer;
}
.card3 .button {
    background-color: #066eff;
    color: #ffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.card3 .button:hover {
    background-color: transparent;
    border: 2px solid #066eff;
    cursor: pointer;
}

h5 {
    color: #ffff;
    font-size: 23px;
    margin-bottom: 15px;
}


.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.kontak {
    width: 100%;
    background: #191919;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.kontak h2 {
    color: #ffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.kontak .button-2 {
    background-color: #ffc506;
    color: #ffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

.kontak .button-2:hover {
    background-color: transparent;
    border: 2px solid #ffc506;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.icon-contact a {
    color: white;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-size: 30px;
}
.icon-contact a:hover {
    color: #ffc506;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-size: 30px;
}

footer {
    background-color: #141414;
    color: #ebb7b7;
    font-size: small;
}

.section {
    color: white;
}

.section-header {
    color: #339999;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

hr {
    width: 100%;
    border: 0.5px solid rgb(204, 204, 204);
    align-items: center;
  }

/* section 2 */

.section-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    width: 80%;
    margin: 60px auto;
   color: rgb(215, 212, 212);
}

.card {
    border-radius: 10px;
    background-color: rgb(78, 76, 76);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
}

.card__img {
    width: 100%;
    display: block;
}

.card__detail {
    padding: 10px 0;
}

.card__details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;
}

.card__details ul li {
    width: 100%;
    text-align: center; 
    font-size: 16px;
    padding: 12px 0;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #bbb;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 500;

    display: inline-block;
    padding: 14px 28px;
    border-radius: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.card4 .btn {
    background-color: #0c618c;
    text-decoration: none;
}

.card5 .btn {
    background-color: #0c618c;
    text-decoration: none;
}

.card6 .btn {
    background-color: #0c618c;
    text-decoration: none;
}
.card4 .btn:hover {
    background-color: lightblue;
    border: 1px solid white;
    text-decoration: none;
    transition: .5s ease-in-out;
    color: black;
}

.card5 .btn:hover {
    background-color: lightblue;
    border: 1px solid white;
    text-decoration: none;
    transition: .5s ease-in-out;
    color: black;
}

.card6 .btn:hover {
    background-color: lightblue;
    border: 1px solid white;
    text-decoration: none;
    transition: .5s ease-in-out;
    color: black;
}
/* ini hover card */